.container {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    padding: 40px 80px;
    margin: 0 auto;
}

@media (max-width: 420px){
    .container {
        padding: 20px 20px;
    }
}

.bg-l {
    background: linear-gradient(to left, rgba(120, 120, 120, 0.8), rgba(234, 244, 249, 0.8)), url('../../../public/img/bg.png');
}

.bg-r {
    background: linear-gradient(to right, rgba(120, 120, 120, 0.8), rgba(234, 244, 249, 0.8)), url('../../../public/img/bg.png');
}

.btn {
    padding: 10px 16px;
    border-radius: 10px;
    margin-right: 60px;
}

.btn1 {
    background: var(--p2);
    color: var(--p3);

    &:hover {
        background: var(--p2-l);
        color: var(--s1);
        box-shadow: 0 0 0 2px var(--p2) inset;
    }
}

.btn2 {
    background: var(--p3);
    border: 2px solid var(--p2);

    &:hover {
        background: var(--p2-l);
        color: var(--s1);
        box-shadow: 0 0 0 2px var(--p2) inset;
    }
}

.btn3 {
    background: var(--p1);
    color: var(--p3);

    &:hover {
        background: var(--p2-l);
        color: var(--s1);
        box-shadow: 0 0 0 2px var(--p2) inset;
    }
}

img {
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
    height: auto;
}

.decoration {
    position: absolute;
    top: 100px;
    right: -40px;
    width: 100%;
    height: 400px;
    background-color: transparent;
    border: 5px solid var(--p2);
    border-radius: 10px;
    z-index: 1;
}