.footer {
    background-color: var(--s1);
    color: var(--p3);
    justify-items: center;

    & h3 {
        font: var(--font-2-l-b);
        text-transform: uppercase;
        letter-spacing: 2.5px;
        padding: 40px 0;
    }

    & .cite {
        font: var(--font-3-m);
        padding: 40px 0;
    }

    & .connect {
        font: var(--font-2-l-b);
        text-transform: uppercase;
        letter-spacing: 2.5px;
    }

    & .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px 0 40px 0;

        & img {
            border-radius: 0px;
            box-shadow: none;
        }
    }

    & a {
        color: var(--p3);
    }

    & .line {
        width: 80%;
        height: 2px;
        background-color: var(--p3);
        margin: 20px 0px;
    }

    & .copy {
        font-family: var(--font-2);
        font-size: 1rem;
        padding-bottom: 40px;
    }
}

@media (max-width: 1100px) {
    .footer {
        text-align: center;

        & .line {
            margin: 0 auto 20px auto;
        }
    }
}