.header {
    display: grid;
    padding: 40px 80px 40px 40px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    & p {
        font: var(--font-1-xl);
        padding: 40px 0px;
    }

    .header-btn {
        text-align: center;
    }

    & .header-img {
        padding-top: 40px;
        width: 600px;
        height: auto;
        position: relative;
    }
}

@media (max-width: 1030px) {
    .header {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 40px;

        & .header-img {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding-top: 20px;

            & .decoration{
                display: none;
            }
        }
    }
}

@media (max-width: 420px){
    .header {
        padding: 20px;

        & p {
            font: var(--font-1-l);
            padding: 20px 0px;
        }

        & .header-btn{
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 20px;
            
            & a{
                margin-right: 0px;
            }
        }
    }
}